
<ion-view>
    <ion-nav-title style="font-family: 'Josefin Sans', sans-serif" align-title="left">AmaSales</ion-nav-title>
<ion-content padding="true" style="font-family: 'Josefin Sans', sans-serif;background-color:#F5F5F5">
<div class="card" ng-repeat="ama in data.results">
        <a style="text-decoration:none;color:black" href="#/saleDetails/{{$index}}">
         <p>
             <!--<i class="ion-image" style="font-size:70px;margin-left:3%;margin-top:5%;color:#41B4BB;float:left"></i>-->
             <img src="img/discount.jpg" style="font-size:70px;width:23%;height:20%;margin-left:3%;margin-top:5%;color:#41B4BB;float:left">
          </p>
          <p style="margin-left:28%" ng-click="details(ama)"><b>{{ama.store}}</b></p>
          <p style="margin-left:28%;margin-right:3%" ng-click="details(ama)">{{ama.description}}</p>
               <p style="margin-left:28%;font-size:11px" ng-click="details(ama)">
               Sales end on: {{ama.enddate}}</p>
        </a>
               </div>
</ion-content>


</ion-view>