<ion-view>
<ion-nav-bar class="bar-positive">
     <ion-nav-title style="font-family: 'Josefin Sans', sans-serif">Sale Details</ion-nav-title>
  <ion-nav-buttons side="left" ng-click="back()">
      <i ng-click="back()" class="ion-android-arrow-back" style="margin-left:3%;font-size:32px"></i>
			<!--<button class="ion-android-arrow-back" menu-toggle="left">
			</button>-->
		</ion-nav-buttons>
</ion-nav-bar>        
    <!--<ion-nav-back-button >-->
      
    <!--</ion-nav-back-button>-->

<ion-content  padding="true" scroll="true" style="padding-bottom:20px;font-family: 'Josefin Sans', sans-serif;background-color:#F5F5F5">
<ion-scroll>
<div class="card" >
     <div style="background-image:url('img/sale.jpg') ;background-size: cover;    background-size: 90%;width:90%;height:90px;background-repeat:norepeat;margin-left:5%;margin-top:2%;margin-bottom:10%;background-position:center;border-radius:0.2em;padding:5px">
         <!--<h3 style="text-align:center">Img</h3>-->
         <h2 style="text-align:center;margin-top:10%;color:black"><b>{{sale.store}}</b></h2>
     </div>
     <p style="margin-left:5%"><b>Sales Description</b> : {{sale.description}}</p>
      <p style="margin-left:5%"><b>Stocklist</b> : {{sale.stocklist}}</p>
     <p style="margin-left:5%"><b>Start Date</b> : {{sale.startdate}}</p>
     <p style="margin-left:5%"><b>End Date</b> : {{sale.enddate}}</p>

<p style="margin-top:10%;margin-left:5%"> Details of the store below :</p>
<p style="margin-left:5%"><b>Address</b> : {{sale.address}}</p>
<a style="margin-left:5%;text-decoration:none;color:black;display:block" href="tel:+260{{sale.phone}}"><b>Phone no</b><em style="color:skyblue"> : +260{{sale.phone}}</em></a>
<a style="margin-left:5%;text-decoration:none;color:black" href="mailto:{{sale.email}}"><b>Email</b> : <em style="color:skyblue">{{sale.email}}</em></a>
</div>
</ion-scroll>
</ion-content>

</ion-view>